.cardStyle {
  background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    margin-right: 80px;
    height: 65vh;
    width: 310px;
    display: flex;
    flex-direction: column;
    min-width: 310px; 
    flex-shrink: 0; 
    opacity: 0.5;
}

.cardStyle.active {
  opacity: 1;
}

.cardStyle.disabled {
  background-color: lightgray;
}
  
.header {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 5px;
  width: 270px;
  color: black;
  font-family: sans-serif;
}
  
.subHeader {
  font-size: 18px;
  margin-bottom: 10px;
  width: 270px;
  color: black;
  font-family: sans-serif;
}
  
.content {
  font-size: 16px;
  width: 270px;
  height: 350px;
  color: black;
  font-family: sans-serif;
}